.section {
   display: flex;
   flex-direction: column;
   margin-top: 60px;
   margin-left: 40px;
}

.ordering {
   display: flex;
   max-width: 520px;
   justify-content: end;
}

.text {
   text-align: center;
   padding: 14px 0;
   display: flex;
   justify-content: center;
   align-items: center;

}

.text>svg {
   width: 33px;
   height: 33px;
   margin-left: 9px;
}

.box {
   display: flex;
   flex-direction: column;
   width: 544px;
   margin-bottom: 20px;
   height: 740px;
   border: 1px solid rgb(179, 0, 250);
   border-radius: 10px;
}

.bun {
   margin-left: 25px;
   margin-bottom: 16px;
}

.item {
   overflow-y: auto;
   max-height: 550px;
   list-style: none;
   padding: 0;
   margin: 0;
}

.item::-webkit-scrollbar {
   width: 8px;
}

.item::-webkit-scrollbar-thumb {
   background-color: #8585AD;
}

.item::-webkit-scrollbar-track {
   background-color: #2F2F37;
   margin-bottom: 15px
}