.section {
   display: flex;
   flex-direction: column;
   margin-top: 60px;
   margin-left: 40px;
}

.ordering {
   display: flex;
   max-width: 520px;
   justify-content: end;
}

.text {
   text-align: center;
   padding: 14px 0;
}