.box {
   display: flex;
   flex-direction: column;
   margin-bottom: 60px;
   min-width: 520px;
}

.title {
   margin: 0 0 32px 0;
   text-align: center;
   color: #F2F2F3;
}

.description {
   display: flex;
   justify-content: space-between;
}

.text {
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
   text-align: center;
   color: #8585AD;
}

.name {
   margin-bottom: 8px;
}

.number {
   font-family: 'Iceland', 'arial', sans-serif;
   font-size: 28px;
}